---
import { getReader } from "@utils/keystatic";
import { locales, type Locale } from "@utils/keystatic/locales";

const reader = getReader();
const information = await reader.singletons.information.readOrThrow();

const lang = Object.keys(locales)[0] as Locale;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<span id="name">{information.firstName.en} {information.lastName.en}</span>
		<br />
		<span id="name">{information.firstName.th} {information.lastName.th}</span>
	</body>
</html>
