---
import { GITHUB_REPOSITORY, GITHUB_REF, GITHUB_SHA } from "astro:env/client";

import Favicon from "@components/atoms/Favicon.svelte";
import type { LocaleName } from "@models/locales";
import { getSingleton } from "@utils/contents";
import { getLocaleISO, getLocales } from "@utils/i18n";
import pkg from "@config/package";

interface Author {
	name: string;
	email: string;
	twitter?: string;
}

interface Props {
	locale: LocaleName;
	title: string;
	site: string;
	description?: string;
	author?: Author;
	favicon?: string;
	"favicon:light"?: string;
	"favicon:dark"?: string;
	"favicon:black"?: string;
}

const {
	locale,
	title,
	site,
	description,
	author,
	favicon: faviconBase,
	"favicon:light": faviconLight,
	"favicon:dark": faviconDark,
	"favicon:black": faviconBlack,
} = Astro.props;
const generator = Astro.generator;
const url = Astro.url;

const ui = await getSingleton("ui");
const locales = getLocales();
---

<!-- Default -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={generator} />

<title>{title} | {site}</title>

<!-- OpenGraph -->
<meta property="og:site_name" content={site} />
<meta property="og:title" content={title} />
<meta
	name="description"
	property="og:description"
	content={description ??
		ui.get("page.home.description", locale) ??
		pkg.description}
/>
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<!-- TODO: update og:image -->
<!-- <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" /> -->
<!-- <meta property="og:image:alt" content="Image description" /> -->
<meta property="og:locale" content={getLocaleISO(locale)} />
{locales.map((l) => <meta property="og:locale:alternate" content={l} />)}

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content={pkg.author.twitter} />
<meta name="twitter:creator" content={author?.twitter ?? pkg.author.twitter} />

<!-- Custom -->
<meta name="git:repo" content={GITHUB_REPOSITORY} />
<meta name="git:url" content={pkg.repository.url} />
<meta name="git:ref" content={GITHUB_REF} />
<meta name="git:sha" content={GITHUB_SHA} />
<meta name="git:version" content={pkg.version} />
<meta name="author:name" content={author?.name ?? pkg.author.name} />
<meta name="author:email" content={author?.email ?? pkg.author.email} />
<meta name="copyright" content={pkg.license} />

<link rel="sitemap" href="/sitemap-index.xml" />
<Favicon
	client:load
	base={faviconBase}
	light={faviconLight}
	dark={faviconDark}
	black={faviconBlack}
/>
