---
import type { ComponentProps } from "astro/types";

import HeadHelmet from "@components/base/HeadHelmet.astro";
import BodyFooter from "@components/base/BodyFooter.astro";
import BodyHeader from "@components/base/BodyHeader.astro";
import BodyMain from "@components/base/BodyMain.astro";

import { getLocaleISO } from "@utils/i18n";

type Props = ComponentProps<typeof HeadHelmet>;

const { locale, title, site, description, author } = Astro.props;
---

<html lang={getLocaleISO(locale)}>
	<head>
		<HeadHelmet {locale} {title} {site} {description} {author} />
		<slot name="head" />
	</head>
	<body
		class:list={[
			"bg-white",
			"dark:bg-gray-700",
			"black:bg-black",
			"font-sans",
			"font-light",
		]}
	>
		<slot name="header"><BodyHeader {locale} {title} /></slot>
		<BodyMain>
			<slot />
		</BodyMain>
		<slot name="footer"><BodyFooter /></slot>
	</body>
</html>

<style>
	html.black {
		color-scheme: dark;
	}
</style>
