---
import DefaultMeta from "@components/DefaultMeta.astro";
import { getLocale } from "@utils/i18n";

interface Props {
	title: string;
	site: string;
	description?: string;
	author?: { name: string; email: string; twitter?: string };
}

const { title, site, description, author } = Astro.props;
const lang = getLocale(Astro.currentLocale);
---

<html lang={lang}>
	<head>
		<DefaultMeta
			title={title}
			site={site}
			description={description}
			author={author}
		/>
		<slot name="head" />
	</head>
	<body class="mx-3 my-5 flex flex-col items-center">
		<slot />
	</body>
</html>
