---
import HeadHelmet from "@components/base/HeadHelmet.astro";
import BodyFooter from "@components/base/BodyFooter.astro";
import BodyHeader from "@components/base/BodyHeader.astro";
import BodyMain from "@components/base/BodyMain.astro";
import { getLocale } from "@utils/i18n";

interface Props {
	title: string;
	site: string;
	description?: string;
	author?: { name: string; email: string; twitter?: string };
}

const { title, site, description, author } = Astro.props;
const lang = getLocale(Astro.currentLocale);
---

<html lang={lang}>
	<head>
		<HeadHelmet
			title={title}
			site={site}
			description={description}
			author={author}
		/>
		<slot name="head" />
	</head>
	<body>
		<slot name="header"><BodyHeader title={title} /></slot>
		<BodyMain>
			<slot />
		</BodyMain>
		<slot name="footer"><BodyFooter /></slot>
	</body>
</html>
